<div class="container">
  <div class="row align-items-start row-cols-3 ms-auto">
    {{#each albumsList}}
    <div class="col">
        <div>
            <img class="artistImage" src="{{this.images.[0].url}}" alt="{{this.name}}"> 
        </div>
        <div>
            {{this.name}}
            <a href="/tracks/{{this.id}}"><span>View Tracks</span></a>
        </div>
    </div>
    {{/each}}
  </div>
</div>