<div class="container">
  <div class="row align-items-start row-cols-3 ms-auto">
    {{#each artistList}}
    <div class="card col">
        <div class="cardtop">
            <img class="artistImage" src="{{this.images.[0].url}}" alt="{{this.name}}"> 
        </div>
        <div class="cardbottom">
            {{this.name}}
        </div>
        <div>
          <a href="/albums/{{this.id}}"><span>View Albums</span></a>
        </div>
    </div>
    {{/each}}
  </div>
</div>