<div class="mainPage">
    <img src="/images/spotify-background.jpeg" class="img-fluid" alt="spotify-backgound.jpeg">
    <form class="position-absolute top-50 start-50 translate-middle" action="/artist-search" method="GET">
        <label for="artist"></label>
        <input type="text" name="artist" id="artist">
        <button type="submit">Search for an Artist</button>
    </form>
</div>
