<div class="bg"></div>
<div class="mainPage">
    <form class="form position-absolute top-50 start-50 translate-middle" action="/artist-search" method="GET">
        <label for="artist"></label>
        <input type="text" name="artist" id="artist" placeholder="The Beatles">
        <button class="formButton" type="submit"><span>Search for an Artist</span></button>
    </form>
</div>
