<div class="container">
 <div class="trackPageTitle">
        <h4>Title</h4>
        <h4>Listen</h4>
  </div>
  <div class="tracks row align-items-start row-cols-3 ms-auto">
    {{#each trackList}}
    <div class="track col">
        <div>
            {{this.name}}
        </div>
        <div>
            <audio controls>
            <source src="{{this.preview_url}}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    {{/each}}
  </div>
</div>